@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));


* {
    scroll-behavior: smooth;
}

body {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}